/* Ensuring box borders are included in their size */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* Setting universal body height */
body {
  height: 100%;
}
/* Floating header elements left and making each one take up half of the width */
.highscorelink,
.timer {
  float: left;
  width: 50%;
  font-size: 20px;
}
/* Removing link underline and changing color */
a:link {
  text-decoration: none;
  color: indigo;
}
/* Adding hover effect with inverted colors and rounded corners */
a:hover {
  color: white;
  background-color: indigo;
  padding: 5px;
  border-radius: 10px;
}
/* Aligning the timer in the header to the right side of the page */
.timer {
  text-align: right;
}
/* Setting container styling and positioning in center of page */
.container {
  width: 60%;
  margin: 0 auto;
  padding: 10px;
}
/* Aligning page title and changing font size */
.title {
  text-align: center;
  font-size: 25px;
}
