/* Ensuring box borders are included in their size */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* Setting universal body height */
body {
  height: 100%;
}
/* Floating header elements left and making each one take up half of the width */
.highscorelink,
.timer {
  float: left;
  width: 50%;
  font-size: 15px;
}
/* Removing link underline and changing color */
a:link {
  text-decoration: none;
  color: indigo;
}
/* Adding hover effect with inverted colors and rounded corners */
a:hover {
  color: white;
  background-color: indigo;
  padding: 5px;
  border-radius: 10px;
  opacity: 0.5;
}
/* Aligning the timer in the header to the right side of the page */
.timer {
  text-align: right;
}
/* Setting container styling and positioning in center of page */
.container {
  width: 40%;
  margin: 0 auto;
  padding: 10px;
}
/* Aligning page title and changing font size */
.title {
  text-align: center;
  font-size: 25px;
}
/* Aligning the highscore page title */
#highscorestitle {
  text-align: left;
}
/* Aligning description and changing line height */
.description {
  text-align: center;
  line-height: 20px;
}
/* Styling and positioning for ol list */
ol {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
/* Added flex box to center the start button */
.buttonhomepage {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Added flex box to position highscore page buttons to the left */
.buttonshspage {
  display: flex;
  justify-content: start;
}
/* Start button styling and positioning relative to the container */
.button {
  background-color: indigo;
  border: none;
  color: white;
  padding: 5px 10px 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 15px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 10px;
  cursor: pointer;
}
/* Adding hover to start button and multiple choice list buttons */
.button:hover,
.multipleChoices:hover {
  opacity: 0.5;
}
/* Styling multiple choice question options */
.multipleChoices {
  width: fit-content;
  background-color: indigo;
  color: white;
  padding: 5px 10px 5px 10px;
  text-align: left;
  font-size: 16px;
  margin-top: 15px;
  border-radius: 10px;
  cursor: pointer;
}
/* Styling the popups for Correct! and Wrong! answer choices */
#footerCorrect,
#footerWrong {
  color: gainsboro;
  font-style: italic;
  font-size: 20px;
  line-height: 40px;
}

/* "All Done!" Screen style modifications */
/* Styling the text displaying the user's final score */
#finalScore {
  font-size: 16px;
  margin-bottom: 10px;
}
/* Styling the Enter Initials text to the left of the user input text box */
#initials {
  font-size: 14px;
  font-style: italic;
}
/* Styling the input text box */
#inputText {
  height: 25px;
}

/* Highscores page styling */
/* List styling */
.highscoreList {
  font-size: 16px;
  background: lavenderblush;
  padding: 3px;
}
/* Changing text and background color for every even numbered item on the list */
.highscoreList:nth-child(even) {
  background: gray;
  color: lavenderblush;
}
